.loadingStyle{
    font-size: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.registerDiv{
    background-image: url('https://i.ibb.co/MSmMDBv/download-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
}
.registerDiv h2,p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
}
.registerFormDesign{
    width: 500px;
    background-image: url('https://i.ibb.co/DkT6cLP/download.jpg');
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
  
}
.registerForm input{
    width: 95%;
    border-radius: 7px;
    height: 48px;
}

/*------------------------------ Responsive Section----------------------------- */
@media screen and (max-width:850px) {
    .registerFormDesign{
        width: 100%;
        background-image: url('https://i.ibb.co/DkT6cLP/download.jpg');
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
        padding: 30px;
        border-radius: 20px;
      
    }
    .registerForm{
        width: 100%;
        text-align: center;
        margin: auto;
        padding: 30px;
    }
    .registerForm input{
        width: 100%;
        border-radius: 7px;
        height: 48px;
    }
}