.loadingStyle{
    font-size: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.dashboard{
    display: grid;
    grid-template-columns: 1fr;
}
.dashboardTitle{
    font-family: cursive;
    text-decoration: underline;
    color:#070707;
}

.dashboardAside{
    border-right: 3px solid grey;
}
.dashboardAside button{
   width: 30%;
   background-color: rgb(43, 29, 53);
   color:white;
   margin-top: 7px;
}

/* -------------------Responsive Section -----------------------*/
@media only screen and (max-width:850px) {
    .dashboardAside button{
        width: 80%;
        }
}
