.loadingStyle{
    font-size: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.dashboard{
    display: grid;
    grid-template-columns: 1fr;
  
    
}
.dashboardTitle{
    width:300px;
    text-align: center;
    margin: auto;
}
.dashboard h2{
font-family: cursive;
font-size: 50px;
border-left:3px solid orange;
border-right:3px solid rgb(43, 29, 53);
border-radius: 5px;
}

.dashboard{
    border-right: 3px solid grey;
}
.dashboard button{
   width: 30%;
   background-color: rgb(43, 29, 53);
   color:white;
   margin-top: 7px;
}

/* -------------------Responsive Section -----------------------*/
@media only screen and (max-width:850px) {
    .dashboard button{
        width: 80%;
        }
}
