.headerDesign{
    display: flex;
    justify-content: space-around;
    background-color:#FEEAE7 ;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.headerDesign h1{
    font-family: cursive;
    color:#5a5e8f;
    font-weight: 800;
}
.headerLink a{
    text-decoration: none;
    margin-right: 20px;
    line-height: 53px;
    color:black;
}
.headerDesign button{
    background-color: rgb(33, 24, 39);
    color:white;
    width: 100px;
}

/* --------------------------Responsive section -------------------------
--------------------------------------------------------------------------*/

@media only screen and (max-width:850px) {
    .headerDesign {
        display: flex;
        flex-direction: column;
        background-color: #1E3A8A;
        padding:30px;
        color:white;

    }
    .headerDesign h1{
        font-family: cursive;
        color:white;
        font-size: 40px;
        font-weight: 900;
        text-align: center;
    }
    .headerLink a{
        text-decoration: none;
        margin-right: 20px;
        line-height: 53px;
        color:white;
        }
     .headerDesign button{
         background-color: rgb(242, 237, 245);
         color:rgb(20, 15, 15);
         width: 100px;
         font-family: cursive;
         font-weight: 600;
        }
}