.headerDesign{
    display: flex;
    justify-content: space-around;
    background-color:#FEEAE7 ;
    padding: 20px;

}
.headerLink a{
text-decoration: none;
margin-right: 20px;
line-height: 53px;
}

/* --------------------------Responsive section -------------------------
--------------------------------------------------------------------------*/

@media only screen and (max-width:850px) {
    .headerDesign {
        display: flex;
        flex-direction: column;
        padding: 14px;

    }
}