.headerDesign{
    display: flex;
    justify-content: space-around;
    background-color:#FEEAE7 ;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.headerDesign h1{
    font-family: cursive;
    color:#5a5e8f;
    font-weight: 800;
}
.headerLink a{
text-decoration: none;
margin-right: 20px;
line-height: 53px;
color:black;
}
.headerDesign button{
    background-color: rgb(33, 24, 39);
    color:white;
    width: 100px;
}

/* --------------------------Responsive section -------------------------
--------------------------------------------------------------------------*/

@media only screen and (max-width:850px) {
    .headerDesign {
        display: flex;
        flex-direction: column;
        padding: 14px;

    }
}