
.loadingStyle{
   font-size: 150px;
   text-align: center;
   justify-content: center;
   align-items: center;
}
.purchasePage{
   text-align: center;
   margin-top: 40px;
   margin-bottom: 40px;
}
.purchasePage p{
   color:black;
}
.purchaseDivDesign{
   width: 400px;
   text-align: center;
   margin: auto;
   padding: 50px;
}
.purchaseDivDesign input{
   width: 90%;
   height: 38px;
   border-radius: 4px;
   padding-left: 8px;
}

