.loadingStyle{
    font-size: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.bannerButton{
    width: 200px;
    height: 48px;
    margin-left: 20px;
    font-weight: 600;
    background-color: #070707;
    color:white;
    border-radius: 9px;
    border:none;

}


/*-------------------- Responsive Section ------------------------------*/
@media only screen and (max-width:600px) {
    .bannerButton{
        width: 100%;
        margin-left: 0;
        border:none;
        border-radius: 0%;

    }
}
