.bikesDesign{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px;
    margin: 20px;
    grid-gap: 40px;
}
.bikesDesign img{
    width: 100%;
    height:300px;
}
.bikesDesign button{
    width: 144px;
    height: 48px;
    /* margin: 20px; */
    font-weight: 600;
    background-color: #FA482E;
    color:white;
    border-radius: 9px;
    border:none;

}

/*---------------------------- Responsive Section--------------------------- */
@media only screen and (max-width:850px) {
    .bikesDesign{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 40px;
    }
    .bikesDesign button{
        width:100%;
        height: 48px;
        font-weight: 600;
        background-color: #110402;
        color:white;
        border-radius: 9px;
        border:none;
    
    }
}